@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
font-family: "Roboto", sans-serif;
font-size: 20px;
background-color: white
}

    Class{
    color:grey;
    border-bottom:8px dashed black;
    font-size: 96px}


    h1{
    color:grey;
    border-bottom:8px dashed black;
    font-size: 6em;


    }


    .Abouth{
    position: fixed;
    top: 0;
    left: 0;
    }


    .Class{
    color:grey;
    border-bottom:8px dashed black;
    font-size: 96px}

    h2{
    color:grey}

    p{
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    }

    a{text-decoration:none

    }

    a:hover{color:red}

    a:active{color:green}

    a:visited{color:blue}


    .card {
    border:8px solid black;
    width:1050px;
    height:1050px;
    padding:16px;
    margin:40px;
    border-radius: 105px;
    width:1100px;
    height:1100px;
    }

    .card1 {
    border:8px solid black;
    width:1050px;
    height:1050px;
    padding:16px;
    margin:40px;
    border-radius: 14px;
    width:1100px;
    height:1100px;
    margin-left 500;
    visibility: none;
    position: relative;
    top: -1200px;
    left: 1200px;


    }

    .chostake{
    position: absolute;
    left: 750px;


    }
