    .card {
    position: relative;
    border:8px solid black;
    width:1050px;
    height:1050px;
    padding:16px;
    margin:40px;

    border-radius: 105px;
    width:1100px;
    height:1100px;

    }

    .imgdl {
    width: clamp(300px, 50%, 800px);
    border: 15px solid black;
    margin: 0px;
    position: absolute;
    left: 300px;
    top: 300px;




    }


    h1 {
    font-size:  70px;
    margin 0px;
    position: absolute;
    left: 300px;
    height 100px:

    }

    .caps {
    margin: 0px;
    position: absolute;
    top: 1000px;
    left: 300px;

    }


    h2 {
    margin: 0px;
    position: absolute;
    top: 900px;
    left: 350px;
    }


        h3 {
    margin: 0px;
    position: absolute;
    top: 250px;
    left: 350px;
    }

    header{
    margin: 0px;
    position: relative;
    }

    .logo{
    position: relative;
    width: 650px;
    height: auto;
    }

    .Rdr1{
    margin: 0px;
    position: absolute;
    left: -550px;

    }

    .Deuchland{
    margin: 0px;
    position: absolute;
    left: 950px;
    top: 158px;
    font-size: 48px;
    padding: 70px;
    border-left: 12px solid black;




    }

    .Poland{
    margin: 0px;
    position: absolute;
    left: 700px;
    top: 225px;
    font-size: 48px;

    }

    ul{
    li{
    padding: 10px;
    }
    list-style: none;
    gap: 15px;
    display: flex;
    }


    .lvl{
    background-color: gray;
    font-size: 24px;
    border:4px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 0px;
    position: absolute;
    left: 1050px;
    top: 600px;
    }

    .Start{
    background-color: gray;
    font-size: 36px;
    border:4px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 0px;
    position: absolute;
    left: 475px;
    top: 1525px;
        }



    @media (max-width: 768px){
    body{background-color: grey; width: 100%}
    .card{width: 66%}
    .logo{width:95vw; height: auto;}
    h1{font-size: 29px;left: 65px;}
    .imgdl{width: 165px; border: 15px solid black; position: absolute; left: 56px; top: 152px;}
    h3{margin: 0px; position: absolute; top: 83px; left: 43px}
    h2{margin: 0px; position: absolute; top: 411px; left: 58px; font-size: 20px;}
    .caps{margin: 0px; top: 461px;;
  left: 141px;}
    .lvl{background-color: gray; font-size: 16px; border: 4px solid black; border-radius: 10px; padding: 10px; margin: 0px;position: absolute; left: 138px; top: 323px;}
    .Start{background-color: gray; font-size: 19px; border: 4px solid black; border-radius: 10px; padding: 10px; margin: 0px; position: absolute; left: 104px; top: 701px;}
    .card {position: relative;border: 8px solid black;width: 1050px;height: 1050px;padding: 16px;margin: 10px;border-radius: 105px;width: 277px;;height: 526px;
}

}






    }

